<!doctype html>
<html lang="en" ng-app="app" >
  <head>
    <title>Chat Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/bootstrap/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
       
  
  
  </head>
  <body> 
  <h1>Bugzilla Client</h1>

  <a href="#login">login</a>  

   
  <div style="backgound:red;"  ng-view></div>
    
  <!--   
    <div ng-controller="LoginController">
      
      <label for="txtEmail">Email :</label>
      <input type="text" id="txtEmail" ng-model="email"/>
      
      <label for="txtPassword">Passwoord :</label>
      <input type="text" id="txtPassword" ng-model="password" />
      
      <button class="btn btn-default"  ng-click="OnLoginClick(email,password)">Login</button>
      User Id : {{ UserId }}  
      
      
    </div>
    
    <div ng-controller="OnLoadedController">
      
      <input type=text ng-model="bugId"></input>
      <button ng-click="OnClick(bugId)"/>
      
      <div ng-repeat="(key, value) in bug">
           {{key}}  : {{ value }} 
      </div>
      
    </div>
    -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/app/js/app.js"></script>
  </body>
</html>
